# ============================================================
# PostgreSQL
# ============================================================

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=


# ============================================================
# HTTP server
# ============================================================

HTTP_ADDR=
HTTP_SHUTDOWN_TIMEOUT=